**/build/*
**/bin/*
*.user**
/prebuilt/cef
/prebuilt/openssl
*.aps
*.user
/dist/x86
/dist/x64
*.7z
/download.bat
/conaninfo.txt
/conan_imports_manifest.txt
/conanbuildinfo.cmake
/conanbuildinfo.txt
_conanfile86.py
_conanfile64.py
lib/
